body {
    background: #b5d9ff;
    font-family: Arial, sans-serif;
    padding: 40px;
}

.judul {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.kotak {
    width: 600px;
    margin: auto;
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    border: 2px solid #1e5799;
}

#tanggal, #jam {
    text-align: center;
    font-size: 20px;
}
